body {
  margin: 0;
  font-family: Arial;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: black;
  color: white;
  position: sticky;
  top: 0;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

/* Sections */
.section {
  padding: 50px;
  text-align: center;
}

/* Home Section */
.home {
  background: #f3f3f3;
  padding: 80px 20px;
}

/* Project cards */
.project-card {
  margin: 20px auto;
  width: 300px;
  padding: 15px;
  border: 1px solid #444;
  border-radius: 8px;
}
